@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*Navbar*/

#navbar{
    position: sticky;
    box-shadow: 5px 5px 20px black;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
}
#navbar a{
    margin-left: 10px;
    border-bottom: 2px solid transparent;
}

#navbarlist a:hover{
    border-bottom: 2px solid green;
}

#navbar .navbar-brand {
    color: green;
    font-size: 32px;
    text-transform: uppercase;
}

/* home section */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
}

#home{
    background-color: gray;
    
}

#home h1 {
    font-size: 90px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

#home p {
    font-size: 25px;
    color: white;
    font-weight: 500 !important;
}
    
#home .input-group {
    width: 40%;
    height: 45px;
    border: none;
}

#home .btn{
    background-color: #008000;
    margin-left: 10px;
    border-radius: 8px;
}

/* About section */

#about {
    background: black;
    color: white;
}

#about h1 {

    padding-bottom: 5%;
    color: green;
    font-size: 50px;
    
}

#about , p {

    font-size: 25px;
}

/* Products */

#products {

    background-color: #808080;
}

#products h1 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
}

#products .card-img-top {

    height: 150px;
    width: 310px;
    margin-left: 20px;
    margin-top: 3%;
}

#products .card {

    margin: 20px 60px;
    border: none !important;
    width: 250px;
    height: 250px;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, .3);
    overflow: hidden;
    align-items: center;
}

#products .card:hover {

    box-shadow: 20px 20px 20px rgba(0, 0, 0, .5);
}

/* Conatct Us */

#contact input {
    margin-bottom: 20px !important;
}

#contact textarea {
    margin-bottom: 20px;
}

#contact .btn {

    width: 100%;
}